<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">
	<title>manager</title>
	
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'public/css/cssresets.css'%}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'public/css/manager.css'%}"/>
	<script type="text/javascript" src="{% static 'public/js/jquery-3.1.1.min.js' %}"></script>

	<script>
		$(document).ready(function(){
			$("#todays").click(function(){
				$(".todays-transaction").show();
				$(".current-transaction").css("display","none");
			});

			$("#current").click(function(){
				$(".current-transaction").show();
				$(".todays-transaction").css("display","none");
			});			
		});
	</script>
</head>

<body>
	<!-- List items for the navigation bar start here -->
		<nav style="width: 100%;">
			<ul class="topnav" id="myTopnav">
			  <li><a href="{% url 'public:index' %}">Home</a></li>
			  <li><a href="{% url 'inventory:index' %}">Inventory</a></li>
			  <li><a href="{% url 'public:contact' %}">Contact</a></li>
			  <li><a href="{% url 'public:manager' %}">Manager</a></li>
			  <li><a href="{% url 'public:cook' %}">Cook</a></li>
			  <li class="icon">
			    <a href="javascript:void(0);" onclick="iconShow()">&#9776;</a>
			  </li>
			<li id = "search-bar">
			  <form role="search" method="get" action="{% url 'public:index' %}">
	                <input type="text" class="form-control" placeholder="search by food" autocomplete="on" name="q" value="{{ request.GET.q }}">
	          </form>
	          </li>			  
			  <ul class="navbar-right">	
			      <li id = "sign-up" class = "sign-up-button" ><a href="#">Sign Up</a></li>
			      <li id = "log-in" class = "log-in-button" ><a href="#">Login</a></li>
	    	  </ul>
			</ul>
		</nav>
	<!-- List item for the navigation bar end here -->
	
	<div class="headerdiv">
		<div id="current">
			CURRENT TRANSACTION
		</div>

		<div id="todays">
			TODAYS TRANSACTION
		</div>
	</div>
	
	<!-- code for the current section goes here -->
	<div class="current-transaction">
		{% if messages %}
		{% for message in messages %}
			<strong>{{ message }}</strong>
		{% endfor %}
		{% endif %}

		<form  action="{% url 'public:pay' %}" method="post">
		{% csrf_token %}
		<table>
			<tr class="table-row">
				<th>Food</th>
				<th>Table</th>
				<th>Time</th>
				<th>Price</th>
				<th>Details</th>
			</tr>
			
			{% for food in served_foods %}
			<tr class="table-row">
				<td><input type="checkbox" name="food" id="food{{ forloop.counter }}" value="{{ food.id }}"/>
					<label for="food{{ forloop.counter }}">{{ food }}</label>
				</td>
				<td>{{ food.table }}</td>
				<td>{{ food.time }}</td>
				<td>{{ food.price }}</td>
				<td><a href="">Details</td>
			</tr>
			{% endfor %}
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>

			<tr>
				<td></td>
				<td><input type="submit" value="pay"/></td>
				<td></td>
			</tr>
		</table>
		</form>
	</div>
	<!-- code for the current section ends here -->
	
	<!-- code for the todays section goes here -->
	<div class="todays-transaction">
		<table>
			<tr class="table-row">
				<th>Food</th>
				<th>Time</th>
				<th>Table</th>
				<th>Price</th>
			</tr>
			
			{% for paid_food in paid_foods %}
				{% if paid_food.paid_today == True %}
			<tr class="table-row">
				<td>{{ paid_food}}</td>
				<td>{{ paid_food.time }}</td>
				<td>{{ paid_food.table }}</td>
				<td>{{ paid_food.price }}</td>
			</tr>
			{% endif %}
		{% endfor %}
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>

			<tr>
				<td></td>
				<td>Total Transactions</td>
				<td></td>
				<td>{{ total }}</td>
			</tr>
		</table>
	</div>
	<!-- code for the todays section ends here -->
</body>
</html>
